.navigation {
  border: darkgray;
  text-align: right;

}

.run-btn {
  margin: 20px;
  padding: 10px 50px;
  font-size: 20px;
  background: lightgray;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.run-btn:hover {
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5)
}

.content {
  margin: 10% 0;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.slot {
  display: flex;
}

.column {
  height: 150px;
  width: 200px;
  margin: 30% 3%;
  border-radius: 10px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.first-column {
  height: 400px;
  width: 200px;
  margin: 3px;
  border-radius: 10px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.list {
  text-align: center;
  margin-bottom: 20px;
}

.movable-item {
  margin-top: 15px;
  border-radius: 10px;
  background-color: cornflowerblue;
  height: 80px;
  width: 170px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  text-align: center;
  vertical-align: center;
}